<hr class="my-6"/>
<ul class="space-y-2">
    <li>
        <a href="/fontsource">Fontsource</a>
    </li>
    <li>
        <a href="/inline">Inline</a>
    </li>
    <li>
        <a href="/">Home</a>
    </li>
</ul>