---
import Layout from '@/layouts/Layout.astro';
import AvatarAndName from '@/components/AvatarAndName.astro';
import IndexTitle from '@/components/IndexTitle.astro';
import SocialGrid from '@/components/SocialGrid.astro';
---

<Layout>
	<div class="flex flex-col min-h-screen items-center justify-center subpixel-antialiased my-7 mx-3 gap-y-5">
		<AvatarAndName />
		<IndexTitle />
		<SocialGrid />
	</div>
</Layout>
