---
import { Image } from 'astro:assets';
import avatarImage from '@/assets/avatar.png'; 
---

<div class="flex max-w-96 flex-col items-center gap-y-5 rounded-lg lg:gap-y-4">
    <div class="flex flex-col items-center gap-x-5 lg:flex-row">
        <Image
            src={avatarImage}
            alt="Martynas Ki | martynaski.dev"
            class="h-20 w-20 rounded-full border-4 border-white drop-shadow-lg bg-green-500"
            width={160}
            height={160}
        />
        <div class="flex flex-col items-center pt-2 lg:items-start">
            <h1 class="text-2xl font-bold leading-none">Martynas Ki.</h1>
            <h2 class="text-left leading-none text-slate-500">
                martynaski<span class="text-slate-400">.dev</span>
            </h2>
        </div>
    </div>
</div>